.play-button {
    background-color: transparent;
    cursor: pointer;
    &:hover {
       g {
            path {
                fill: var(--color_fff)
            }
            circle {
                opacity: 1;
            }
       }
    }
}