@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata Bold";
    src: url("../fonts/Inconsolata-Bold.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.ttf");
}

@font-face {
    font-family: "Lora Bold Italic";
    src: url("../fonts/Lora-BoldItalic.ttf");
}

@font-face {
    font-family: "Lora Bold";
    src: url("../fonts/Lora-Bold.ttf");
}

:root {
    --mono-font-family: 'Inconsolata';
    --mono-bold-font-family: 'Inconsolata Bold';
    --sans-serif-font-family: 'Inter';
    --sans-serif-bold-font-family: 'Inter Bold';
    --serif-font-family: 'Lora';
    --serif-bold-font-family: 'Lora Bold';
    --heading-large-font-size: 64px;
    --heading-large-line-height: 72px;
    --heading-medium-font-size: 24px;
    --heading-medium-line-height: 29px;
    --heading-small-font-size: 20px;
    --heading-small-line-height: 24px;
    --body-medium-font-size: 18px;
    --body-medium-line-height: 24px;
    --body-small-font-size: 14px;
    --body-small-line-height: 17px;
    --part-of-speech-font-style: normal;
    --part-of-speech-font-family: var(--sans-serif-font-family);
}


[data-font-style="mono"] {
    --heading-large-font-family: var(--mono-bold-font-family);
    --font-family: var(--mono-font-family);
    --part-of-speech-font-family: var(--mono-font-family);
}

[data-font-style="sans-serif"] {
    --heading-large-font-family: var(--sans-serif-bold-font-family);
    --font-family: var(--sans-serif-font-family);
    --part-of-speech-font-style: italic;
    --part-of-speech-font-family: var(--sans-serif-bold-font-family);
}

[data-font-style="serif"] {
    --heading-large-font-family: var(--serif-bold-font-family);
    --font-family: var(--serif-font-family);
}