.header {
    margin-bottom: 51.5px;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__controls {
            display: flex;
            align-items: center;
            column-gap: 26px;
            &__theme {
                display: flex;
                align-items: center;
                column-gap: 20px;
            }
        }
    }
}