.font-select {
    position: relative;
    background-color: var(--font-select-background-color);
    &__accessible-text {
        display: none;
    }
    &__button {
        background-color: inherit;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--font-select-text-color);
        &-selected-option {
            font-size: var(--body-medium-font-size);
            line-height: var(--body-medium-line-height);
            margin-right: 18px;
            &--sans-serif {
                font-family: var(--sans-serif-bold-font-family);
            }
            &--serif {
                font-family: var(--serif-bold-font-family);
            }
            &--mono {
                font-family: var(--mono-bold-font-family);
            }
        }
    }
    &__dropdown {
        list-style: none;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        background-color: inherit;
        border-radius: 16px;
        padding: 24px;
        width: 183px;
        margin-top: 18px;
        right: 0px;
        transform: translateX(0%);
        box-shadow: 0px 5px 30px 0px var(--font-select-dropdown-shadow-color);
        display: none;
        &--expanded {
            display: block;
        }
        &-option {
            color: var(--font-select-text-color);
            font-size: var(--body-medium-font-size);
            line-height: var(--body-medium-line-height);
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0px;
            }
            &--sans-serif {
                font-family: var(--sans-serif-bold-font-family);
            }
            &--serif {
                font-family: var(--serif-bold-font-family);
            }
            &--mono {
                font-family: var(--mono-bold-font-family);
            }
            &:hover {
                cursor: pointer;
                color: var(--font-select-dropdown-option-text-hover-color);
            }
        }
    }
}