$dark-primary-background-color: #050505;
$light-primary-background-color: #fff;

$dark-header-font-select-text-color: #fff;
$dark-header-font-select-background-color: #050505;
$light-header-font-select-background-color: #fff;
$light-header-font-select-text-color: #2d2d2d;

$light-header-theme-switch-track-color: #757575;
$light-header-theme-icon-color: #757575;

$dark-header-theme-switch-track-color: #a445ed;
$dark-header-theme-icon-color: #a445ed;

$light-search-input-background-color: #f4f4f4;
$light-search-input-text-color: #2d2d2d;
$dark-search-input-background-color: #1f1f1f;
$dark-search-input-text-color: #fff;

$header-logo-icon-color: #757575;
$header-theme-switch-thumb-color: #fff;

$dark-heading-large-text-color: #fff;

