// Sans Serif Fonts
$heading-large-font-family: 'Inter Bold';
$heading-medium-font-family: 'Inter Regular';
$heading-small-font-family: 'Inter Regular';
$body-medium-font-family: 'Inter Regular';
$body-small-font-family: 'Inter Regular';

// Desktop Sizes
$heading-large-font-size: 64px;
$heading-large-line-height: 72px;
$heading-medium-font-size: 24px;
$heading-medium-line-height: 29px;
$heading-small-font-size: 20px;
$heading-small-line-height: 24px;
$body-medium-font-size: 18px;
$body-medium-line-height: 24px;
$body-small-font-size: 14px;
$body-small-line-height: 17px;