@import './colors';

$dark-primary-background-color: $color_050505;
$light-primary-background-color: $color_fff;

$dark-header-font-select-text-color: $color_fff;
$dark-header-font-select-background-color: $color_050505;
$light-header-font-select-background-color: $color_fff;
$light-header-font-select-text-color: $color_2d2d2d;

$light-header-theme-switch-track-color: $color_757575;
$light-header-theme-icon-color: $color_757575;

$dark-header-theme-switch-track-color: $color_a445ed;
$dark-header-theme-icon-color: $color_a445ed;

$light-search-input-background-color: $color_f4f4f4;
$light-search-input-text-color: $color_2d2d2d;
$dark-search-input-background-color: $color_1f1f1f;
$dark-search-input-text-color: $color_fff;
$search-input-error-outline-color: $color_FF5252;
$search-input-active-outline-color: $color_A445ED;
$search-input-error-text-color: $color_FF5252;

$header-logo-icon-color: $color_757575;
$header-theme-switch-thumb-color: $color_fff;

$dark-heading-large-text-color: $color_fff;
$light-heading-large-text-color: $color_2d2d2d;

$heading-medium-text-color: $color_A445ED;